.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/obsidian-enhancing-export/data.json
.obsidian/plugins/obsidian-enhancing-export/main.js
.obsidian/plugins/obsidian-enhancing-export/manifest.json
.obsidian/plugins/obsidian-enhancing-export/styles.css
.obsidian/plugins/obsidian-enhancing-export/lua/citefilter.lua
.obsidian/plugins/obsidian-enhancing-export/lua/markdown.lua
.obsidian/plugins/obsidian-enhancing-export/lua/markdown+hugo.lua
.obsidian/plugins/obsidian-enhancing-export/lua/math_block.lua
.obsidian/plugins/obsidian-enhancing-export/lua/newline_to_para.lua
.obsidian/plugins/obsidian-enhancing-export/lua/pdf.lua
.obsidian/plugins/obsidian-enhancing-export/lua/polyfill.lua
.obsidian/plugins/obsidian-enhancing-export/lua/shift_headings.lua
.obsidian/plugins/obsidian-enhancing-export/lua/url.lua
.obsidian/plugins/obsidian-enhancing-export/textemplate/dissertation.tex
.obsidian/plugins/obsidian-enhancing-export/textemplate/neurips.sty
.obsidian/plugins/obsidian-enhancing-export/textemplate/neurips.tex
.obsidian/plugins/obsidian-pandoc/data.json
.obsidian/plugins/obsidian-pandoc/main.js
.obsidian/plugins/obsidian-pandoc/manifest.json
.obsidian/plugins/obsidian-pandoc/styles.css
input_Part3.md
Peaceful_Parenting_Part3.pdf
